/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/assignment_submissions
/public/PlagiarismZipped
/public/uploadedimages
/app/Python/next_word.py
/app/Python/next_words.h5
/app/Python/token.pkl
/app/Python/Pride and Prejudice.txt
/app/Python/syntax_error_correction/old_model
/app/Python/syntax_error_correction/.env
/app/Python/syntax_error_correction/next_words.h5
/app/Python/syntax_error_correction/token.pkl
/public/assignment_submissions
/public/submissions
/public/tmp
test.java
/public/main_files
/public/assignment_files
public/.google-cookie